  .modal-content {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  h1 {
    color: #c50f0f;/* Màu vàng nhạt */
    font-family: 'Playwrite SK', cursive; /* Kiểu chữ thư pháp mềm mại */
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng để nổi bật trên nền */
    margin-bottom: 20px; /* Tạo khoảng cách giữa tiêu đề và đoạn văn */
}

p {
    color: #ffffff; /* Màu trắng */
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Đổ bóng đậm hơn để rõ ràng trên nền phức tạp */
    line-height: 1.6; /* Tăng khoảng cách giữa các dòng chữ để dễ đọc hơn */
    margin: 0 auto; /* Canh giữa đoạn văn */
    max-width: 90%; /* Đảm bảo văn bản không quá rộng */
    padding: 10px;
    border-radius: 10px; /* Bo góc nhẹ cho đoạn văn */
}

.btn-love {
  background-color: #f06292; /* Màu nền nút */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-love:hover {
  background-color: #ec407a; /* Màu khi hover */
}

/* Tạo khoảng cách giữa 2 button */
.flex.justify-between {
  margin-top: 20px;
}

/* Đảm bảo modal body canh giữa */
.p-6.text-white.flex {
  align-items: center;
  flex-direction: column;
} 

/* Heart */
.button-container {
  position: relative;
  display: inline-block;
}

.heart-button {
  position: relative;
  z-index: 1;
}

.heart {
  position: absolute;
  bottom: 10%;
  font-size: 20px;
  opacity: 0;
  animation: floatUp 2s ease-in-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
